* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://i.pinimg.com/736x/b8/9d/59/b89d59a4ddde3d6ce01185904089db4b.jpg);
    display: flex;
    justify-content: center;
}

#form {
   width: 60vw;
   height: 70vh;
   margin-top: 15vh;
   margin-bottom: 15vh;
   background-image: url(https://i.pinimg.com/736x/b8/9d/59/b89d59a4ddde3d6ce01185904089db4b.jpg);
   border: 10px solid rgba(36, 15, 70, 0.938);
   border-style: ridge;
   border-radius: 30px;
   color: aliceblue;
}

#header {
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header::after {
    content: "☎️";
}

#header::before {
    content: "☎️";
}

#bodyform {
    font-size: 30px;
    margin-left: 13vh;
    margin-right: 13vh;
}

#nome2 {
    width: 534px;
    height: 35px;
    font-size: 20px;
    margin-left: 1vh;
}

#nome1 {
    margin-top: 1vh;
}

#envio {
    width: 490px;
    height: 35px;
    font-size: 20px;
    margin-left: 1vh;
}

#email_enviado {
    margin-top: 2vh;
}

#recebimento {
    width: 467px;
    height: 35px;
    font-size: 20px;
    margin-left: 1vh;
}

#email_recebido {
    margin-top: 2vh;
}

#mensagem2 {
    width: 476.5px;
    height: 220px;
    font-size: 20px;
    margin-left: 2vh;
    display: inline;
}

#mensagem1 {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}

#enviar-buttom a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

#enviar-buttom {
    margin-top: 2vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#buttom {
    background-color: #fff;
}

#buttom a {
    color: black;
    padding: 1vw;
}